:root{
--primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --acent-color: #2196F3;
    --logo-color: #000000;
    --bgc-color: #F5F4FA;
    --bgc-footer-color: #2F303A

}

/* Один із цветов логотипа #000000 */

/* Цвет основного текста #212121  */

/* Цвет вторичногоо текста  #757575 */

/* Цвет акцентированого текста #2196F3   */

/* Белий текст  #FFFFFF */

/* Акцентируваний фон #2196F3  */

/* Основной фон #F5F4FA */


/* Header */

.page {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto;
}

.list,
ul {
    list-style: none;
}
.logo{
    color:  var(--acent-color);
Font style: 500;
Font size: 26px;
Line height: 31px;
Line height: 100%;
Align: Left;
Vertical align: Top;
Letter spacing: 3%;
}

.logo2{
    color: var(--logo-color);
}


/* site nav */

.site-nav .link{
    color: var(--primary-text-color);
    font-style: Regular;
Font-size: 14px;
Line-height: 16px;
Line-height: 100%;
Align: Left;
Vertical-align: Top;
Letter-spacing: 2%;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--acent-color);
}

.site-nav .active{
    color: var(--acent-color);
}

/* kontakt list */

.kontakt-list .link{
    color: var(--second-text-color);
}

.kontakt-list .link:hover,
.kontakt-list .link:focus{
    color: var(--acent-color);
}

.kontakt-list .adres{
    color: var(--white-color);
}

footer{
    background-color: var(--bgc-footer-color);
}
.logo3{
    color: var(--white-color);
}


