:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --acent-color: #2196F3;
    --logo-color: #000000;
    --bgc-color: #F5F4FA;
    --bgc-up-color: #2F303A;
}

body{
    color: var(--primary-text-color);
}

.up{
    background-color: var(--bgc-up-color);
    color: var(--white-color);
}
.up-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.up-button{
    color: var(--white-color);
    background-color: var(--acent-color);
    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}

.peculiarities-title{
    color: var(--white-color);
}

.peculiarities-list-title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}

.peculiarities-list-tekst{
color: var(--second-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}

.work-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
}


.team-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17px;
text-align: center;
}

.team-list-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}

.team-list-text{
    color: var(--second-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
}